
.tabs {
    display: flex;
}

.ingredients {
    width: 600px;
    height: 500px;
    overflow: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.item {
    list-style: none;
    width: 272px;
    height: 208px;
    position: relative;
}

.price {
    display: flex;
    justify-content: center;
}

.name {
    text-Align: center
}

